* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263Eb;
    --primary-color-dark: #364FC7;
}

body.dark-blue {
    --bg-color: #00082F;
    --text-color: #FFFFFF;
}

body.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto 0px;
}

img {
    width: 100%; 
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border:  var(--primary-color) solid 4px;
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color:  var(--primary-color);
    ;
    color: var(--bg-color);
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;
}

ul li a:hover {
    background-color: var(--primary-color-dark);
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}


/*
MEU CÓDIGO 2.0
Problema 1: a foto e os textos não esão alinhando com as redes sociais. Nota-se um PEQUENA diferença.


body {
    background-color:  hsl(254, 67%, 15%);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


ul li.media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 300px;
    height: 53px;

    background-color: hsl(228, 81%, 59%);
    ;
    border-radius: 5px;
    margin-bottom: 16px;
}

a {
    color: white;
}

img {
    clip-path: circle(40%);
}

footer {
    display: flex;
    justify-content: center;
}

*/


/*
MEU CÓDIGO PARA COMPARAÇÃO
problema 1: todo o código foi alinhado para com centro com text-align, com exceção dos .card.

body {
    background-color: hsl(254, 67%, 15%);
    color: white;
}

.cards {
    display: grid;
    row-gap: 1rem; Used by browsers that support `row-gap`
 

}

.card {
    width: 375px;
    height: 40px;
    padding-top: 20px;
    border-radius: 6px;

    text-align: center;


    background-color: hsl(236, 81%, 59%);
    
}

a {
    text-decoration: none;
    color: white;
}

.card:hover {
    background-color: hsl(236, 71%, 50%);
}


*/

